@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <title>ثبت نام به ایران‌کالا</title>
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">

    <link rel="stylesheet" href="style/style.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body class="text-center bg">
    <div class="row">
        <div class="col-lg-4 col-sm-1">
        </div>
        <div class="col-lg-4 col-sm-10">


            <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="SignUp" class="form-signin" style="margin-top: 100px; direction: rtl;">
                <a id="Index">
                    <img class="temp-logo" src="~/images/logo/logo.png" alt="ایران کالا">
                </a>
                <h1 class="h3 mb-3 font-weight-normal">ثبت نام در ایران‌کالا</h1>
                <label for="email" class="sr-only">Email address</label>
                <input style="text-align: right;" type="email" id="email" name="email" class="form-control mb-2" placeholder="ايميل يا شماره موبايل" required autofocus>
                <label for="pass" class="sr-only">Password</label>
                <input style="text-align: right;" type="password" id="pass" name="pass" class="form-control mb-3" placeholder="رمز ‌عبور" required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> حریم خصوصی و شرایط و قوانین استفاده از سرویس های سایت ایران‌کالا را مطالعه نموده و با کلیه موارد آن موافقم.
                    </label>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">ثبت نام در ایران‌کالا</button>
                <div class="row">

                    <p class="mt-5 mb-3 text-muted" style="padding-left: 0.5rem;">قبلا ثبت نام کرده اید؟</p>
                    <a id="SignIn" class="mt-5 mb-3 text-muted">وارد شوید</a>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-sm-1">
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#SignIn').click(function () {
                window.location.href = "@Url.Action("SignIn","User")";
            });
            $('#Index').click(function () {
                window.location.href = "@Url.Action("Index","Home")";
            });

            //$("#signUp").click(function () {
            //    alert("ss");
            //
            //    var data = {
            //        "Email": $("#email").val(),
            //        "Password": $("#pass").val()
            //    };
            //    console.log('ddd',data);
            //    $.ajax({
            //        type: "POST",
            //        url: "/User/SignUp",
            //        dataType: 'application/json; charset=utf-8',
            //        data: JSON.stringify(data),
            //        success: function (response) {
            //            alert("ثبت با موفقیت انجام شد.");
            //            window.location.href = "Url.Action("Index","Home")";
            //        },
            //        error: function () {
            //            alert("خطایی رخ داده است.");
            //        },
            //    });
            //});
        });
    </script>
</body>

</html>

